<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  <script>function test() {$.ajax({url: "/igraj/prekini/",type:"POST",success: function(result){alert(result);}});}</script>
  <script>
    function myFunction() {
      document.getElementById("premik").click(); 
    }

    function prekini() {
      //$.post("/igraj/prekini/")
      $.ajax('/igraj/prekini/', {
        type: 'POST'
      }
      )
    }

    window.addEventListener("keydown", function(e) {
    if(["Space","ArrowUp","ArrowDown","ArrowLeft","ArrowRight"].indexOf(e.code) > -1) {
        e.preventDefault();
    }
}, false);
  </script>
  <meta charset="utf-8">
  <title>2048</title>

  <link href="/views/main.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/views/favicon.ico">
</head>
<body onload = "myFunction();">
  <div class="container">
    <p style="color: red;">Za odjavo, lestvico in novo igro pritisnite na primeren gumb in nato tipko ENTER.
    Sicer med igro ne pritiskajte tipke ENTER!</p>
    <div>
      <a href = "/lestvica/" style="text-align: left;">Lestvica</a>
      <form style="float: right;" method = "post" action = "/odjava/" class="inline">
        <input type = "hidden">
        <button onclick="test()" type = "submit" class = "link-button">Odjava</button>
      </form>  
    </div>

    <div class="heading">
      <h1 class="title">2048</h1>
      <div class="scores-container">
        <div class="score-container">{{ stTock }}</div>
        <div class="best-container">{{ maxStTock }}</div>
      </div>
    </div>
    <div class="above-game">
      <p class="game-intro">Združuj številke in pridi do <strong>ploščice 2048!</strong></p>
      <a href="/igra/izbira_velikosti/" class="restart-button">Nova igra</a>
     <!-- <form action="/igraj/levo/" method="post">
        <button type="submit" class="restart-button" name = "levo">levo</button>
      </form>
      <form action="/igraj/desno/" method="post">
        <button type="submit" class="restart-button" name = "desno">desno</button>
      </form>
      <form action="/igraj/dol/" method="post">
        <button type="submit" class="restart-button" name = "dol">dol</button>
      </form>
      <form action="/igraj/gor/" method="post">
        <button type="submit" class="restart-button" name = "gor">gor</button>
      </form>-->
      <form action="/igraj/splosno/" method="post">
        <button type="submit" id = "premik" style="display: none;">splosno</button>
      </form>
    </div>
    
    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
	        <a class="keep-playing-button">Keep going</a>
          <a class="retry-button">Try again</a>
        </div>
      </div>

      <div class="grid-container">
        %for i in range(velikost):
          <div class="grid-row-{{velikost}}">
            %for j in range(velikost):
              %if tabela[i][j] == 0:
                <div class="grid-cell-{{velikost}}"></div>
              %elif tabela[i][j] > 2048:
                <div class="grid-cell-{{velikost}}"><div class="tile-super">{{ tabela[i][j] }}</div></div>
              %else:
                <div class="grid-cell-{{velikost}}"><div class="tile-{{tabela[i][j]}}-{{velikost}}">{{ tabela[i][j] }}</div></div>
              %end
            %end
          </div>
        %end
      </div>

      <div class="tile-container">

      </div>
    </div>

    <p class="game-explanation" style="text-align: justify;">
      <strong class="important">Navodila za igro:</strong> Uporabi <strong>puščice na tipkovnici</strong>,
       da premakneš ploščice. Ko se ploščici z isto številko dotakneta, se <strong>združita v eno!</strong>
    </p>
  </div>
</body>
</html>