<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2048</title>

  <link href="/views/main.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="/views/favicon.ico">
</head>
<body>
    <div class="container">
        <div>
            <a href="/lestvica/" style="text-align: left;">Nazaj na izbiro lestvice</a>
            <form style="float: right;" method = "post" action = "/odjava/" class="inline">
                <input type = "hidden">
                <button type = "submit" class = "link-button">Odjava</button>
            </form>  
        </div>
        
        <h1 style="text-align: center;">Večna lestvica najboljših</h1>
        <h2 style="text-align: center;">Igre {{velikost}} &times {{velikost}}</h2>
        <a style="display: block; text-align: center; text-decoration: none;">
            Vi ste na {{ mesto }}. mestu.
        </a>
        <table style="margin: auto;border:3px solid black;border-collapse: collapse;">
            <tr>
                <td style="width: 5%;border:solid black;"></td>
                <td style="width: 80%;border: solid black;">Uporabniško ime</td>
                <td style="width: 15%;border: solid black;">Točke</td>
            </tr>
            %for i in range(zacetek, min(konec + 1, len(lestvica))):
            <tr>
                <td style="width: 5%;border: solid black;">{{i + 1}}.</td>
                <td style="width: 80%;border: solid black;">{{ lestvica[i][0] }}</td>
                <td style="width: 15%;border: solid black;">{{ lestvica[i][1] }}</td>
            </tr>
            %end
        </table>
        <div style="text-align:center;">
            %if zacetek != 0:
            <a style="text-decoration: none;" href = "/lestvica/{{zacetek - 10}}-{{zacetek - 1}}/">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            %end
            {{zacetek + 1}}-{{min(konec + 1, len(lestvica))}} od {{len(lestvica)}}
            %if konec < len(lestvica) - 1:
            <a style="text-decoration: none;" href = "/lestvica/{{konec + 1}}-{{konec + 10}}/">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
            %end
        </div>
    </div>
</body>