<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2048</title>

  <link href="/views/main.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/views/favicon.ico">
</head>
<body>
  <div class="container">
    <div class="heading">
        <h1 class="title">2048</h1>
    </div>
    <div class="above-game">
      <p class="game-intro">Združuj številke in pridi do <strong>ploščice 2048!</strong></p>
    </div>
    <form action = "/registracija/" method = "POST" style="text-decoration: none">
        <label>Uporabniško ime:</label><br>
        <input name = "ime"><br>
        <label>Geslo:</label><br>
        <input type = "password" name = "geslo"><br>
        <label>Ponovite geslo:</label><br>
        <input type = "password" name = "ponovno_geslo"><br>
        <input type = "submit" value = "Registracija">
    </form>
    %if napaka == 1:
    <p style="color:red">Geslo in ponovljeno geslo se ne ujemata.</p>
    %elif napaka == 2:
    <p style="color:red">Uporabniško ime že obstaja.</p>
    %end
  </div>
</body>